* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loginconteiner {
  height: 100vh;
  overflow: hidden;
  background-image: url("./images/blueBackground.webp");
  /* background-size: cover; */
}

.loginheader {
  margin-top: 100px;
  color: rgb(235, 235, 238);
  font-size: 60px;
  padding: 20px;
}

.loginheader2 {
  color: rgb(235, 235, 238);
  font-size: 40px;
  padding: 20px;
}

.buttons {
  /* border: 2px solid white; */
  width: fit-content;
}

.linkButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: inherit;
  font-weight: inherit;
}
.error {
  color: #ff0000b0;
  font-size: 14px;
}

.link {
  color: rgb(171, 174, 197);
  padding-left: 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  /* background-color: #fdfdfd; */
}

.link:hover {
  opacity: 0.9;
}

/* .loginInput {
  width: 200px;
  padding: 10px;
  margin-bottom: 30px;
}

.navBar {
  background-color: black;
  color: white;
  padding: 25px;
  width: 100%;
  height: 25px;
}

.playerstate {
  background-color: black;
  color: white;
  margin-right: 10px;
  display: inline;
}
.container {
  margin: auto;
  width: 60%;
  margin-top: 60px;
}

.question {
  margin: auto;
  width: 50%;
  padding: 50px;
}

.option {
  margin: auto;
  width: 50%;
  padding: 20px;
  font-size: 20px;
  border: 1px solid;
  background-image: url("./images/blueBackground.webp");
  color: white;
  text-align: center;
}

.option:hover {
  cursor: pointer;
  opacity: 0.4;
}

.option12 {
  display: flex;
}
.option34 {
  display: flex;
}
.questionDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  background-image: url("./images/questionBackground.png");
  color: white;
  margin-bottom: 50px;
}

.gameLink {
  width: 20px;
  background-color: #fdfdfd;
  color: rgb(58, 70, 173);
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  border-right: 4px solid rgb(58, 70, 173);
}

.gameLink:hover {
  opacity: 0.9;
}

.leaderboardcontainer {
  margin: auto;
  width: 50%;
}

.leaderboardheader {
  margin: auto;
  width: 50%;
  margin-top: 10px;
  color: rgb(7, 7, 83);
  font-size: 40px;
  padding: 20px;
} */

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  text-align: center;
  align-self: center;
  table-layout: fixed;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(7, 7, 83);
  color: white;
  text-align: center;
}
